{% extends 'base.html'%}

{% block head %}
    <title>Category | The Reader</title>
{% endblock %}

{% block body %}
    <section class="section">
        <div class='col-10 mx-auto '>
            <h1 class="heading-title text-center">Add New Category</h1>
            <p class="text-center sub-title">Add a category for blog post</p>
            <div class=''>
                <form class='form' method='POST'>
                    {{ form.csrf_token }}
                    
                    <div class="row">
                        <div class="col-6">
                            <div  class="form-group">
                                <label for='name'>{{ form.name.label }}</label>
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <div class='alert alert-danger'>
                                        {% for error in form.name.errors %}
                                            <span class='mr-1'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div  class="form-group">
                                <label for='slug'>{{ form.slug.label }}</label>
                                {{ form.slug }}
                                {% if form.name.errors %}
                                    <div class='alert alert-danger'>
                                        {% for error in form.slug.errors %}
                                            <span class='mr-1'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div  class="form-group">
                                <label for='slug'>{{ form.description.label }}</label>
                                {{ form.description }}
                                {% if form.description.errors %}
                                    <div class='alert alert-danger'>
                                        {% for error in form.description.errors %}
                                            <span class='mr-1'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
    
    
                    <button class='btn btn-primary' type='submit'>Save</button>
    
                </form>
            </div>
        </div>
    </section>

    <section class="category-list section">
        <h1 class="heading-title">List of Category</h1>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Slug</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.slug}}</td>
                    <td>{{category.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}